.user_info_right{line-height:normal;margin-bottom:12px;text-align: center;}
.user_info_left{top:0;transform: translateY(0%); 
    -webkit-transform: translateY(0%)
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -z-transform: translateY(0%);
    -o-transform: translateY(0%);}
.user_info_right li.inline_block_li{display:inline-block;width:31.3%;text-align: center;font-weight: 600;color:#fff;cursor: pointer;padding: 2% 0;
    border-radius: 5px;line-height: 17px;height:17px;}
.inline_block_li.nth-child_01{background:#266fb5;}
.user_info_right li.inline_block_li.nth-child_02{background:#eee;color:#000;}
.inline_block_li.nth-child_03{background:#ee4d61;}
.work_info_div{clear:both;width:99%;height:50px;border:1px solid #cdcdcd;border-radius: 10px;}
.work_info_div ul li{float:left;width:49.7%;border-right:1px solid #cdcdcd;height:50px;line-height: 50px;text-align: center;}
.work_info_div ul li:last-child{border-right:0;}
.layer_bg{position: fixed;top:0;left:0;width:100%;height:100%;background:#000;opacity: 0.7;z-index: 99999;}
.layer_wrap{width: 450px;;height: 460px;position: fixed;left:50% !important;top:50% !important;background: #fff;z-index: 99999;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);-o-transform: translate(-50%,-50%);-z-transform: translate(-50%,-50%);display: none;text-align: center;}
.start_layer{border:5px solid #266fb5;}
.end_layer{border:5px solid #ee4d61;}
.close_div_box{padding:2%;text-align:right;    margin-bottom: 4%;}
.close_div_box a{font-size:20px;font-weight: 600;}
.user_name_div{margin:4% 0 2%;}
.user_name_div b{font-size:18px;}
.today_ul li{display:inline-block;margin: 0 2px;}
.today_ul li div{font-size:15px;}
.layer_text{margin:15px 0;font-size:13px;}
.save_btn,.close_save_btn{color:#fff;padding:2% 0;width:30%;cursor: pointer;    margin: auto;}
.save_btn{background:#266fb5;}
.close_save_btn{background:#ee4d61;}
.left_box_logo{margin-top:-25px;background:#fff;}
img {
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	/*-ms-interpolation-mode: nearest-neighbor;*/
    -ms-interpolation-mode:bicubic;
	image-rendering: crisp-edges;
}

