.popup_work_checkfadeIn{position:fixed;width:100%;height:100%;background:rgba(255,255,255,0.7);z-index: 9;touch-action: none;z-index: 99999;} 
.popup_work_check_window{position: fixed;width:350px;height:auto;background: #fff;left: 50%;top: 50%;transform: translate(-50%, -50%);border: 5px solid #266fb5;border-radius: 20px;padding:1% 1% 3%;text-align: center;}
.popup_work_check_window span{font-size:13px;color:#ee3f2e;}
.popup_work_check_close_btn{text-align: right; width:100%;margin-bottom:2%;font-size:20px;cursor: pointer;}
.square{
 position:relative;
  border:0;
  width:80px;
  padding:0px;
  margin-left: calc(50% - 40px);
  margin-left: -webkit-calc(50% - 40px);
  margin-left: -moz-calc(50% - 40px);
  background:#ffde05;
  border-radius: 50%;
  margin-bottom: 7%;
}

.spin {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border:dashed 5px #ffa443;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 3.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
.notice_icon{position:absolute;left:50%;top:50%;transform: translate(-50%,-50%);margin-left: 4px;}
.text_popup_work_check{margin-bottom:4%;    line-height: 1.4;font-size: 15px;}
.text_popup_work_check b{font-size: 15px;}
.popup_work_check_window ul{margin-top:4%;}
.popup_work_check_window ul li{width:50%;background:#2f80ce;margin: 4% auto;border-radius: 20px;text-align: center;border-bottom:0;color:#fff;padding: 1em 0;    cursor: pointer;}
@-webkit-keyframes spin {
  from   {  -webkit-transform: rotate(0deg); }
  to   {  -webkit-transform: rotate(360deg); }
}